

#blog1{

    width: 100%;
    height: 80vh;
    background-color:rgba(255, 165, 0, 0.50);;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#blog1-img{

    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;
    width:  40vw;
    height: 60vh;
    flex-shrink: 0;
    margin-left: 5vw;
    margin-top: 11vh;
}
#blog1-para{

    margin-right: 15vh;
    width: 35vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #000;

    text-align: justify;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


#blog2{

    width: 100%;
    height: 80vh;
    background-color: #000;

    display: flex;
    align-items: center;
    justify-content: center;
}

#blog2-inside{

    width: 80vw;
    height: 60vh;
    display: flex;
    border-radius: 6px;
}

#blog2-inside-para{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 60vh;
    background-color: #D9D9D9;
}

#blog2-inside-para h2{

    color: #000;
    text-align: justify;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -8vh;
  
}
#blog2-inside-para ul{

    margin-top: 8vh;
    margin-left: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#blog2-inside-para li{

    color: #000;
    font-family: "Radio Canada";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#blog2-inside-img{

    width: 50%;
    height: 60vh;    
}

#blog2-inside-img img{

    width: 40vw;
    height: 60vh;
    border-radius: 1vh;
}

#blog3{

    width: 100%;
    height: 85vh;
    background-color:rgba(255, 165, 0, 0.50);;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#blog3-img{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width:  30vw;
    height: 65vh;
    flex-shrink: 0;
    margin-right: 4vw;
    margin-top: 11vh;
}
#blog3-para{

    margin-top: 3vh;
    width: 32vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: justify;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}





@media only screen and (min-width:100px) and (max-width:1138px){



    #blog1{

        width: 100vw;
        height: 75vh;
        background-color:rgba(255, 165, 0, 0.50);;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    #blog1-img{
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        flex-shrink: 0;
        width:  35vw;
        height: 42vh;
        flex-shrink: 0;
        margin-left: 5vw;
        margin-top: 15vh;

        /* border: 2px solid red; */
    }
    #blog1-para{
    
        margin-top: 5vh;
        margin-right: 7vh;
        width: 65vw;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
    
        color: #000;
    
        text-align: justify;
        font-family: Poppins;
        font-size: 3vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        /* border: 2px solid red; */
    }
    
    
    #blog2{
    
        width: 100vw;
        height: 80vh;
        background-color: #000;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #blog2-inside{
    
        width: 95vw;
        height: 60vh;
        display: flex;
        border-radius: 6px;

        /* border: 2px solid red; */
    }
    
    #blog2-inside-para{
    
        margin-top: 2.5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 55vh;
        background-color: #D9D9D9;
        /* border: 2px solid red; */


    }
    
    #blog2-inside-para h2{
    
        color: #000;
        text-align: justify;
        font-family: Poppins;
        font-size: 2.3vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: -8vh;
      
    }
    #blog2-inside-para ul{
    
        margin-top: 4vh;
        margin-left: 7vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #blog2-inside-para li{
    
        color: #000;
        font-family: "Radio Canada";
        font-size: 3vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
    #blog2-inside-img{
    
        width: 50%;
        height: 60vh;
        /* border: 2px solid red;     */
    }
    
    #blog2-inside-img img{
    
        margin-top: 2.5vh;
        width: 45vw;
        height: 55vh;
        border-radius: 1vh;
    }
    
    #blog3{
    
        width: 100vw;
        height: 65vh;
        background-color:rgba(255, 165, 0, 0.50);;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    #blog3-img{
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        /* width:  30vw;
        height: 50vh; */

        width:  35vw;
        height: 42vh;
        flex-shrink: 0;
        /* margin-right: 4vw; */
        margin-top: 11vh;
        /* border: 2px solid red; */
    }
    #blog3-para{
    
        margin-left: 0.5vh;
        margin-top: 6vh;
        width: 50vw;
        height: 50vh;
       
        /* width:70vw;
        height: 80vh; */
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        text-align: justify;
        font-family: Poppins;
        font-size: 3vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        /* border: 2px solid red; */
    }
}

@media only screen and (max-width: 480px) {

    #blog1{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    #blog1 img{

        width: 80vw;
        height: 35vh;
        margin-top: 5vh;
        margin-left: 0vh;
    }

    #blog1 p{

        margin-left: 6vh;
        width: 80vw;
        margin-top: -12vh;
        /* margin-left: 0vh; */
    }



    #blog2{

        /* width: 100%; */
        height: 80vh;
        /* border: 2px solid red; */
        /* background-color: #000; */
    
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: center; */
    }
    



    #blog2-inside{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80vh;

        /* border: 2px solid red; */
    }

    #blog2-inside-para{

        margin-top: 8vh;
        height: 40vh;
        width: 80vw;
        border: 2px solid green;
    }

    #blog2-inside-para h2{

        margin-top: 2vh;
        font-size: 5vw;
        /* height: 30vh;
        width: 80vw; */
        /* border: 2px solid green; */
    }

    #blog2-inside-img img{

        /* border: 2px solid brown; */
        width: 80vw;
        height: 40vh;
        margin-top: 0vh;
        margin-left: -9vh;
        /* background-size: cover; */
    }

    #blog3{

        display: flex;
        flex-direction: column;
        height: 80vh;
        align-items: center;
    }

    #blog3 img{

        width: 80vw;
        margin-top: -40vh;
        margin-left: 1vh;
    }

    #blog3 p{

        margin-top: -25vh;
        width: 80vw;
        margin-left: 0vh;
    }



}