
*{
    margin: 0;
    padding: 0;
}





#middle-section{

    padding-top: 15vh;
    height: 90vh;
    width: 100%;
    background-image: url('../images/scott-webb-Vn39uEkX00s-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#middle-section-inner{
    width: 40vw;
    height: 60vh;
    
    background-color: rgba(30, 29, 29, 0.86);
    margin-left: 5%;
   
}
h1{
    padding-top: 1%;
    margin-left: 7%;
    margin-bottom: 0%;
    color: #FFF;
    font-family: "Radio Canada";
    font-size: 7vw;
    font-style: normal;
    font-weight: 700;
}
p{
    margin-left: 9%;
    color: #D7D0D0;
    font-family: "Radio Canada";
    font-size: 1.6vw;
    font-style: normal;
    font-weight: 400;
}

#btn-dv{
    display: flex;
    align-items: center;
}

#btn-dv button:nth-child(1){

    margin-right: 3%;
    margin-left: 9%;
    width: 207px;
    height: 56px;
    color: #FFF;
    background-color: #FFA500;
    font-family: "Radio Canada";
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
#btn-dv button:nth-child(2){

    width: 177px;
    height: 56px;
    border-radius: 4px;
    border: 3px solid #FFA500;

    background: #4D4848;
    color: #FFF;
    font-family: "Radio Canada";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

#span-id{
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-style:normal;
}

#icon-div{
    width: 25vw;
    height: 10vh;
    background-color: #FFA500;
    clip-path: polygon(0% 0, 100% 0, 80% 100%, 0% 100%);
    fill: #FFA500;
    stroke-width: 0.01vw;
    stroke: #FFF;
    position: absolute;
    left: 0px;
    top: 112vh;
    z-index: +1;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}



#fitness-plan{
    margin-top: 0.3vh;
    width: 99.5%;
    height: 90vh;
    position: relative;
    background-color: rgba(255, 165, 0, 0.32);
    z-index: -1;
    box-shadow: 1px 2px 2px rgba(255, 165, 0, 0.32);
    display: flex;
    flex-direction: column;
    align-items: center;
}



#fitness-plan h1:nth-child(1){
    color: #000;
    font-family: Ubuntu;
    font-size: 49px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    z-index: -1;

}

#fitness-plan-inside{

    width: 100%;
    margin-top: 8vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#fitness-plan-inside div{

    width: 25%;
    height: 33vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

#fitness-plan-inside div img{
    height: 15vh;
    width: 10vw;
}

#fitness-plan-inside div h4{
    font-size: 2vw;
}

#fitness-plan-inside div:nth-child(1)
{
    border-bottom: 2px solid #FFA500;
    border-right: 2px solid #FFA500;
}

#fitness-plan-inside div:nth-child(2)
{
 
    border-bottom: 2px solid #FFA500;
    border-right: 2px solid #FFA500;
}

#fitness-plan-inside div:nth-child(3)
{
    border-bottom: 2px solid #FFA500;
}

#fitness-plan-inside div:nth-child(4)
{
    border-right: 2px solid #FFA500;
}

#fitness-plan-inside div:nth-child(5)
{
    border-right: 2px solid #FFA500;
}


#subscription-plan{


    width: 100%;
    height: 120vh;
    background: url('../images/anastase-maragos-9dzWZQWZMdE-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#subscription-plan h2{

    color: #FFA500;
    font-family: Ubuntu;
    font-size: 5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#inside{

    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#inside div{

    width: 20vw;
    height: 50vh;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#inside h2{

   
    color: #FFA500;
    font-family: "Radio Canada";
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#inside p{

    color: #B5AAAA;

    font-family: "Radio Canada";
    font-size: 2vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#inside-button{
    color: #FFF;
    padding: 1vw;
    font-family: "Radio Canada";
    font-size: 2.4vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 1vw;
    border: 4px solid #FFA500;

    background: #524D4D;
}

#fitness-club{

    width: 100%;
    height: 100vh;
}

#fitness-club-backgorund-img{

    width: 100%;
    height: 50vh;
    background-image: url('../images/gym1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#fitness-club-backgorund{

    width: 100%;
    height: 50vh;
    background-color: rgba(255, 165, 0, 0.73);
}

#middle-div{

    margin-top: -34vw;
    margin-left: 12vw;
    width: 79vw;
    height: 50vh;

    border-radius: 4px;
    background: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2; 
}

#middle-div-inside{

    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#middle-div-inside h3{

    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 2vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#middle-div-inside p{

    color: #000;

    text-align: center;
    font-family: Poppins;
    font-size: 1vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#success-story{
    width: 100%;
    height: 100vh;
    flex-shrink: 0;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#success-story-inside{

    width: 80vw;


    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#success-story-inside div{
    width: 30vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#success-story h2{

    color: #FFA500;
    font-family: "Radio Canada";
    font-size: 5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


#success-story-inside-image{

    height: 40vh;
    width: 20vw;

}


#success-story-inside-para{

    color: #FFA500;

    text-align: center;
    font-family: "Radio Canada";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

#footer{


    width: 100%;
    height: 50vh;
    flex-shrink: 0;
    background: #524D4D;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

#footer-logo img{

    width: 15vw;
    height: 20vh;
    margin-top: -10vh;
    margin-left: 5vw; 
 }

#footer-logo{

   
    width: 28vw;
    justify-content: center;
    align-items: center;
    padding: 4vw;
   
}

#footer-logo h2{
    
    color: #FFA500;
    margin-top: -5vh;
    font-family: "Radio Canada";
    font-size: 2vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#footer-middle a{
    font-size: 1.2vw;
}

#footer-middle{
    display: grid;
    row-gap: 30px;
    column-gap: 45px; 
    grid-template-columns: repeat(3, 10vw); /* Set the width of each column */

}
#item1{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 2;
}
#item2{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}
#item3{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
  
}

#item4{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
   
}

#item5{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
   
}

#item6{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    
}

#item7{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    
}

#item8{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
  
}

#item9{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
  
}

#item10{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;

}

#item11{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;

}

#item12{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
  
}
#item13{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
}


#footer-middle h2{

    color: #FFF;
    font-family: "Radio Canada";
    font-size: 2vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  
}

#footer-middle a{

   text-decoration: none;

}

#footer-tag{
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-tag h2{

    color: #FFA500;
    margin-bottom: 3vw;
    text-decoration-line: underline;
}

#footer-tag-inside{
    width: 20vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;
    column-gap: 20px;
}

#footer-tag-inside button{

    color: #FFF;
    font-family: "Radio Canada";
    font-size: 2vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 4px;
    background: #8D8383;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;

}

#footer-tag-inside button:nth-child(7){

    margin-left: 5vw;
    background-color: #FFA500;

}

#footer-tag-inside button:nth-child(6){

    background-color: #FFA500;

}

#footer-tag-inside button:nth-child(3){

    background-color: #FFA500;
}

#last-footer{
    width: 100%;
    height: 6vh;
    background-color:#FFA500;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #000;

    font-family: Poppins;
    font-size: 1vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}







  @media only screen and (min-width:100px) and (max-width:1138px){



    body{

        overflow-x: hidden;
    }

    #nav-features{

        margin-right: 3vh;
    }

       
    #middle-section{

        height: 35vh;
        width: 100vw;
        background-image: url('../images/scott-webb-Vn39uEkX00s-unsplash.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    

    #middle-section-inner{
        width: 55vw;
        height: 30vh;
        background-color: rgba(30, 29, 29, 0.86);
        margin-left: 13vw;
        margin-top: -7vh;
       
    }
    h1{
        padding-top: 1%;
        margin-left: 7%;
        margin-bottom: 1%;
        color: #FFF;
        font-family: "Radio Canada";
        font-size: 7vw;
        font-style: normal;
        font-weight: 700;
    }
    p{
        margin-left: 9%;
        color: #D7D0D0;
        font-family: "Radio Canada";
        font-size: 2.5vw;
        font-style: normal;
        font-weight: 400;
    }
    
    #btn-dv{
        display: flex;
        align-items: center;
    }
    
    #btn-dv button:nth-child(1){
    
        margin-right: 7%;
        margin-left: 9%;
        margin-top: 5%;
        width: 15vw;
        height: 5vh;
        color: #FFF;
        background-color: #FFA500;
        font-family: "Radio Canada";
        font-size: 3vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    #btn-dv button:nth-child(2){
    
        margin-top: 5%;
        width: 20vw;
        height: 5vh;
        border-radius: 4px;
        border: 3px solid #FFA500;
        background: #4D4848;
        color: #FFF;
        font-family: "Radio Canada";
        font-size: 3vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    
    }
    #span-id{
        font-size: 5vw;
        font-family: Arial, Helvetica, sans-serif;
        font-style:normal;
    }


    #icon-div-l
    {
        height: 6vh;
        width: 3vw;
    }


    
    #icon-div{
        width: 35vw;
        height: 5vh;
        background-color: #FFA500;
        clip-path: polygon(0% 0, 100% 0, 85% 100%, 0% 100%);
        fill: #FFA500;
        stroke-width: 0.01vw;
        stroke: #FFF;
        position: absolute;
        left: 0px;
        top: 57.3vh;
        z-index: +1;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    #fitness-plan{
        margin-top: 0.3vh;
        width: 99.5%;
        height: 50vh;
        position: relative;
        background-color: rgba(255, 165, 0, 0.32);
        z-index: -1;
        box-shadow: 1px 2px 2px rgba(255, 165, 0, 0.32);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #fitness-plan h1:nth-child(1){
        color: #000;
        font-family: Ubuntu;
        font-size: 5vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration-line: underline;
        z-index: -1;
        margin-top: 5vh;
    }
    
    #fitness-plan-inside{
        width: 100%;
        margin-top: 5vh;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    
    #fitness-plan-inside div{
        width: 25%;
        height: 13vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
    

    #fitness-plan-inside div img{
        height: 7vh;
        width: 10vw;;
    }

    #fitness-plan-inside div h4{
        
        margin-top: 1vh;
        font-size: 2vw;
    }


    #fitness-plan-inside div:nth-child(1)
    {
        border-bottom: 2px solid #FFA500;
        border-right: 2px solid #FFA500;
    }
    
    #fitness-plan-inside div:nth-child(2)
    {
     
        border-bottom: 2px solid #FFA500;
        border-right: 2px solid #FFA500;
    }
    
    #fitness-plan-inside div:nth-child(3)
    {
        border-bottom: 2px solid #FFA500;
    }
    
    #fitness-plan-inside div:nth-child(4)
    {
        border-right: 2px solid #FFA500;
    }
    
    #fitness-plan-inside div:nth-child(5)
    {
        border-right: 2px solid #FFA500;
    }
    
    #subscription-plan{
        width: 100vw;
        height: 50vh;
        background: url('../images/anastase-maragos-9dzWZQWZMdE-unsplash.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #subscription-plan h2{
        color: #FFA500;
        font-family: Ubuntu;
        font-size: 5vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
    #inside{
    
        width: 80%;
        height: 35vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        /* margin-top: 1vh; */
    }
    
    #inside div{
        width: 20vw;
        height: 32vw;
        border-radius: 6px;
        background: rgba(255, 255, 255, 0.20);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #inside-div h2{
        color: #FFA500;
        font-family: "Radio Canada";
        font-size: 4vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
    #inside p{
        color: #B5AAAA;
        font-family: "Radio Canada";
        font-size: 3vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
    #inside-button{

        margin-top: 2vh;
        color: #FFF;
        padding: 1vw;
        font-family: "Radio Canada";
        font-size: 3vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 1vw;
        border: 3px solid #FFA500;
        background: #524D4D;
    }
    
    #fitness-club{
    
        width: 100%;
        height: 32vh;
    }
    
    #fitness-club-backgorund-img{
        width: 100%;
        height: 15vh;
        background-image: url('../images/gym1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    #fitness-club-backgorund{
    
        width: 100%;
        height: 55vh;
        background-color: rgba(255, 165, 0, 0.73);
    }
    
    #middle-div{
        margin-top: -60vh;
        margin-left: 13vw;
        width: 75vw;
        height: 20vh;
        border-radius: 4px;
        background: #FFF;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 2; 
    }
    
    #middle-div-inside{
        padding-top: 2vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #middle-div-inside img{

        height: 12vw;
        width: 12vw;
        margin-bottom: -2vh;
    }
    
    #middle-div-inside h3{
        color: #000;
        text-align: center;
        font-family: Poppins;
        font-weight: bolder;
        font-size: 2.5vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
    #middle-div-inside p{
        color: #000;
        text-align: center;
        font-family: Poppins;
        font-size: 2vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
    #success-story{
        width: 100%;
        height: 90vh;
        flex-shrink: 0;
        background: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #success-story-inside{
        width: 80vw;
        display: flex;
        flex-direction: column;
        gap: 2vh;
        /* margin-top: -3vh; */
    }
    
    #success-story-inside div{
        width: 80vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    #success-story h2{
        color: #FFA500;
        font-family: "Radio Canada";
        font-size: 5vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        /* margin-top: -3vh; */
    }
    
    
    #success-story-inside-image{
        height: 22vh;
        width: 20vw;
    }
    
    
    #success-story-inside-para{
    
        color: #FFA500;
        width: 100vh;
        text-align: center;
        font-family: "Radio Canada";
        font-size: 3vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    
    }
    
    #footer{
        width: 100%;
        height: 80vh;
        background: #524D4D;
        display: flex;
        flex-direction: column;   
    }
    
    #footer-logo img{
        width: 50vw;
        height: 20vh;
        margin-top: -4vh;
        margin-left: 7vw;  
     }
    
    #footer-logo{
        width: 70vw;
        height: 15vh;
        justify-content: center;
        align-items: center;
    }
    
    #footer-logo h2{
        color: #FFA500;
        margin-top: -7vh;
        margin-left: 10vh;
        font-family: "Radio Canada";
        font-size: 2.3vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
    #footer-middle a{
        font-size: 3vw;
    }
    
    #footer-middle{
        height: 50vh;
        /* margin-top: -5vh; */
        display: grid;
        row-gap: 3vh;
        /* grid-row-gap: -20vw; */
        grid-template-columns: repeat(3, 9fr); /* Set the width of each column */
        grid-template-rows: repeat(5, 3vw); /* Set the height of each row
     /* grid-gap: 30px; /* Adjust the gap between grid items as needed */
     
    
    }
    #item1{
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #item2{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    #item3{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 3;
        grid-column-end: 4;
      
    }
    
    #item4{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
       
    }
    
    #item5{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
       
    }
    
    #item6{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 4;
        
    }
    
    #item7{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
        
    }
    
    #item8{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3;
      
    }
    
    #item9{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 3;
        grid-column-end: 4;
      
    }
    
    #item10{
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 2;
    
    }
    
    #item11{
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 2;
        grid-column-end: 3;
    
    }
    
    #item12{
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 3;
        grid-column-end: 4;
      
    }
    #item13{
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    
    #footer-middle h2{
    
        color: #FFF;
        font-family: "Radio Canada";
        font-size: 3.5vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
    #footer-middle a{
    
       text-decoration: none;
    
    }
    
    #footer-tag{
        margin-top: -22vh;
        width: 100vw;
        height: 28vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #footer-tag h2{
    
        color: #FFA500;
        font-size: 5vw;
        text-decoration-line: underline;
    }
    
    #footer-tag-inside{
        width: 70vw;
        height: 15vh;
        padding-top: 2vh;
    }
    
    #footer-tag-inside button{
    
        color: #FFF;
        font-family: "Radio Canada";
        font-size: 4vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 4px;
        background: #8D8383;
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;
        padding-left: 1vw;
        padding-right: 1vw;
    
    }
    
    #footer-tag-inside button:nth-child(7){
    
        margin-left: 5vw;
        background-color: #FFA500;
    
    }
    
    #footer-tag-inside button:nth-child(6){
    
        background-color: #FFA500;
    
    }
    
    #footer-tag-inside button:nth-child(3){
    
        background-color: #FFA500;
    }
    
    #last-footer{
        width: 100%;
        height: 6vh;
        background-color:#FFA500;
        display: flex;
        align-items: center;
        justify-content: center;
    
        color: #000;
    
        font-family: Poppins;
        font-size: 3vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
    
    
}


@media only screen and (max-width: 480px) {


    #icon-div{
        top: 57vh;
    }

    #middle-section-inner{
        width: 55vw;
        height: 30vh;
        margin-left: 24vw;
        margin-top: -7vh;
       
    }

    #btn-dv{
        display: flex;
        align-items: center;
    }
    
    #btn-dv button:nth-child(1){
    
        margin-right: 3%;
        margin-left: 9%;
        width: 110px;
        height: 50px;
        color: #FFF;
        background-color: #FFA500;
        font-family: "Radio Canada";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    #btn-dv button:nth-child(2){
    
        width: 110px;
        height: 50px;
        border-radius: 4px;
        border: 3px solid #FFA500;
        background: #4D4848;
        color: #FFF;
        font-family: "Radio Canada";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    
    }

    #inside{
    
        margin-top: -11vh;
    }
    

}


